<p>Your order has been placed. Thank you for shopping with us!</p>

<%= link_to 'Home Page', products_path, class: 'btn btn-primary' %>

<%= link_to 'Order History', order_histories_path, class: 'btn btn-primary' %>
